body {
    background-color: hsl(195, 53%, 79%);
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }
  p {
    font-size: 40px;
    background-color: rgb(50, 187, 221);
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .bottomright {
    display: block;
    margin-left: auto;
  }